.footer_section {
margin-top: 5rem !important;
margin-bottom: 1rem !important;
width: 1400px;
display: flex;
justify-content: center;
height: auto;
background-color: rgb(43, 42, 41);
margin: auto;
border-radius: 20px;
}
.footer_container {
    display: flex !important;
    align-items: center;
    gap: 15rem;
}
.logo_box {
    width: 70px !important;
}
.footer_nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-left: 5rem;
   
}
.footer_links:hover {
    color: white !important;
}
.footer_links {
    font-size: 12px;
    cursor: pointer !important;;
}
.author {
    font-size: 12px;
    color: white !important;
}
.author_span {
    color: rgb(105, 103, 103);
    
}
.footer_author {
    width: auto;
    justify-content: end;
    display: flex;
}

@media screen and (max-width: 1440px) {
     .footer_section {
        width: 1200px;
     }
     .footer_container {
    gap: 10rem;
    }
    .footer_nav {
        margin-left: 10rem;
    }
  }
  
  @media screen and (max-width: 1220px) {
    .footer_section {
       width: 1100px;
    }
    .footer_container {
   gap: 5rem;
   }
   .footer_nav {
       margin-left: 10rem;
       gap: 1.80rem;
   }
 }

 @media screen and (max-width: 1105px) {
    .footer_container {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem !important;
        text-align: center;
        justify-items: center; /* Centers items horizontally */
        align-items: center;   /* Centers items vertically */
    }
    .footer_section {
        background-color: #0d0d0d;
        width: 600px;
    }
    .footer_nav {
        justify-content: center;
        margin: auto;
        
    }
 }
  
 @media screen and (max-width: 610px) {
    .footer_section {
        width: 350px;
    }
    .footer_nav {
        gap: 20px;
        
    }
 }
  

